pkgbase = python-pyclipper
	pkgdesc = A cython wrapper for the C++ translation of the Angus Johnson’s Clipper library
	pkgver = 1.3.0.post2
	pkgrel = 1
	url = https://github.com/fonttools/pyclipper
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = cython
	makedepends = python-setuptools-scm
	depends = python
	source = https://files.pythonhosted.org/packages/source/p/pyclipper/pyclipper-1.3.0.post2.tar.gz
	sha512sums = 5f383d42c1eeb9c7f54f80540339982467097ddfbf590be8960277fe4da7a25f3b46c8786c8192784bcac3352ec4b26dd034156eba767fafcd8e8daf20d8b3aa

pkgname = python-pyclipper
